body{
    position: relative;
    background-color: #d3e0ea ;
    background-size: cover;
    font-family: Helvetica;
    
}
.main{
    height: 500px;
    width:800px;
   box-shadow: 5px 5px 5px  rgb(166, 176, 184);
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
  background-color:rgba(255, 255, 255, 1);
 
}
.head{
    background-color:#73c9e4;
    display: flex;
    justify-content: flex-start;
    position: relative;
    
}
.national{
    flex:0 1 auto;
    font-size: 1.3em;
    position: absolute;
    top:20%;
    left: 50%;
    transform: translate(-50%,-20%);
}
.clglogo{
    margin:5px;
}
.name{
    color: rgb(0, 0, 0);
    font-size: 2em;
    
    left:50%;
    position: absolute;
    transform: translateX(-50%);
}
.details{
    font-size: 1.5em;
    margin: 20px;
  
  
}
.det{
    padding: 0.5em;
}
span{
    color:rgb(228, 97, 9);
}
.button{
    padding: 5px;
    text-align: center;
    margin: 30px;
}
button{
    font-size: 15px;
    height:30px;
    width:140px;
    border:none;
    background-color: rgba(255,66,78,0.5);
    border-radius: 10px;
    color: white;
}
button:hover{
    cursor: pointer;
}
.logout{
   text-align: center;
   padding-top: 1.7em;

 
}
.log{
    text-decoration: none;
    color: white;
}

.list{
    margin-top: 30px;
         height: 150px;
         width:300px;
         background-color: #73c9e4;
         margin-left: auto;
         border-radius: 10px;
         margin-right: auto;
     box-shadow: 5px 5px 5px #888888;;
     }
    .listheading{
        padding: 10px;
        color: white;
         font-size: 1.1em;
         text-align: center;
         border-bottom: 1px solid white;
     }
     .selectlist{
         text-align: center;
         margin-top: 5px;
     }
     
     select{
       
        border: none;
      font-size: 1em;
         height: 10px;
         width:100px;
         background-color: #d3e0ea;
     }
     .listbutton{
        text-align: center;
         margin:33px;
         
     }
     .listbutton button{
         width:150px;
         color: black;
         height: 30px;
         background-color: white;

         font-size: 1.1em;
         border-radius: 5px;
     }
     .lister{
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
     }
