body{
    display: flex;
    position: relative;
    background-image: url("download.jpg");
    background-size: cover;
}
.main div{
    padding: 1.1em;
}
.main{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
  height:600px;
  width:730px;
    font-size: 1em;
    font-family:Helvetica;
    background-color: rgba(255,255,255,0.9);
}
.reg{
    font-size:1.3em;
    color:brown;
    text-align: center;
    border-bottom: 1px solid black;
}
body div{
    margin:1px;
}
button{
    width:60px;
 height:30px;
 
    background-color: rgba(243, 161, 78,1);
    border:none;
    color: white;
}
input{
    border:none;
    background-color: rgba(243, 161, 78,0.5);
    
}
.errorr span{
    font-size:1.5em;
    color:green;
    text-align: center;
}
span{
    color:red;
    margin:0;
    padding:0;
}
.regi{
    margin:0;
    padding:0;
    text-align: center;
   
}
button{
    width:100%;
}
.total{
    display: flex;

}
.first{
    border-right: 1px solid black;
}
